.Navbar {
    display: flex;
    padding: 0.5em;
    width: 100%;
    position: fixed;
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-grey);
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.user {
  width: 300px;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.logo h3 {
  padding: 10px 20px;
  font-size: 1.3em;
  display: inline-block;
}
.name {
  color: whitesmoke;
  text-decoration: none;
}

