.Navbar {
    display: flex;
    padding: 0.5em;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-grey);
    z-index: 1500;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 5px;
    background-color: #4d4d4d;
  }

.logo h3 {
  padding: 10px 20px;
  font-size: 1.3em;
  display: inline-block;
}
.name {
  color: whitesmoke;
  text-decoration: none;
}

