.wrapper {
    padding: .1rem .75rem;
}

.trackList {
    width: 100%;
    border-collapse: collapse;
}

.trackList td {
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid var(--primary-grey);
}

.trackList tr:hover {
    background-color: var(--primary-grey);
}

.trackList td:nth-child(1) {
    width: 10%;
}
.trackList td:nth-child(2) {
    width: 50%;
}
.trackList th:nth-child(3) {
    width: 30%;
}
.trackList th:nth-child(4) {
    width: 10%;
}

.title {
    font-weight: 600;
    margin: 5px 0px;
    font-size: 20px;
    color: whitesmoke;
    text-align: left;
}

.artist, .album {
    text-align: left;
    color: whitesmoke;
}
