.wrapper {
    padding: .1rem .75rem;
}

.container {
    align-items: flex-start;
    display: flex;
    border-bottom: 1px solid var(--primary-grey);
    /* Spacing */
    margin: 0px;
    padding: 8px ;
}

.container:hover{
    background-color: var(--primary-grey);
}

.cover {
    width: 128px;
    height: 128px;
}

.trackTitle, .trackAlbum{
  flex: 1;
  padding-left: 0.8em;
}


.title {
    font-weight: 600;
    margin: 10px;
    font-size: 1.2em;
    color: whitesmoke;
    text-align: left;
}

.artist, .album {
    margin: 10px;
    text-align: left;
    color: whitesmoke;
}


