  .menu {
    text-decoration: none;
  }
  
  .menu li {
    padding: 1em;
    display: flex;
    place-items: center;
    color: whitesmoke;
    font-weight: 400;
    cursor: pointer;
    min-width: 100%;
    min-height: 50px;
  }

  .menu li span{
    margin: 0 5px;
  }
  
  .menu li:hover {
    background-color: var(--primary-grey);
  }
