  .menu {
    text-decoration: none;
  }
  
  .menu li {
    padding: 1em;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    cursor: pointer;
    min-width: 100%;
    min-height: 50px;
  }
  .menu li:hover {
    background-color: var(--primary-grey);
  }