.SearchBar {
  text-align: left;
  padding: 0.75rem;
}

.SearchBar p{
  padding-bottom: 10px;
  color: whitesmoke;
  text-align: left;
  font-weight: bold;
}
.SearchBar input {
    color: white;
    padding: 1em;
    margin-right: 0.5em;
    min-width: 300px;
    border: none;
    background-color:#4d4d4d;
    outline: none;
}
  