.Navbar {
    display: flex;
    padding: 0.5em;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--primary-dark);
    border-bottom: 1px solid var(--primary-grey);
    z-index: 1500;
    justify-content: space-between;
}


