.wrapper {
  display: grid;
  grid-gap: 10px;
  min-height: 100vh;
  padding-top: 4em;
  grid-template-columns: 100%;
  grid-template-areas: "main" "sidebar";
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
  }
}
@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 200px auto ;
    grid-template-areas: "sidebar main";
  }
}

.sidebar {
  background-color:  var(--primary-dark);
  grid-area: sidebar;
}


main {
  grid-area: main;
  padding: 10px 20px;
  background-color: var(--secondary-dark);

}
@media (min-width: 800px) {
  main {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}

.welcome{
  overflow: hidden;
  grid-template-columns: 1fr ;
}

.content {
  overflow-y: scroll;
  padding: 20px;
}




